@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:ital,wght@0,300;0,700;1,200&display=swap');

a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}

p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}


.menu li {

    color: red;
    display: inline-block;
    letter-spacing: 2.7px;
    padding: 15px ;
}

photo{

    position: absolute;
    width: 1280px;
    height: 789px;
    left: 0px;
    top: 78px;
}

h2{
    color:#373737;
    position: relative;
    width: 774px;
    height: 29px;
    left: 253px;
    top: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}


.first_p{

    position: absolute;
    width: 1145px;
    height: 132px;
    left: 67.5px;
    margin-top: 115px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}

.second_p{
    position: absolute;
    width: 1145px;
    height: 216px;
    left: 67.5px;
    margin-top: 275px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}

.rectangle{
    position: absolute;
    width: 191px;
    height: 51px;
    left: 544.5px;
    margin-top: 557px;
    background: #FF0000;
    border-radius: 4px;
    text-align: center;
}

#text{
    color:white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    display: inline-flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    vertical-align: center;
    align-items: center;
    justify-content: center;
}


footer{
    position: absolute;
    width: 462px;
    height: 39px;
    left: 700px;
    margin-top: 700px;
    white-space:pre;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
}